{% extends "base.html" %}

{% block title %}Petr Hanek{% endblock %}

{% block header %}
    <div class="author-header-image"></div>
{% endblock %}

{% block content %}
<div class="author">
    <h1>Petr Hanek</h1>
    <p>Autor knihy po obsazení Československa „spřátelenými” armádami opustil dramaticky republiku a prožil téměř třicet let v Jižní Africe. Procestoval především pracovně dalších padesát zemí.</p>
    <p>V JAR mimo svého zaměstnání cestoval a vedl expedice po jihu Afriky, k Viktoriiným vodopádům, po stopách Emila Holuba, Solné pánve a Diamantové doly v Botswaně, farmařil, byl profesionálním průvodcem lovců, námořním kapitánem, lovil velké sportovní ryby, udělal pilotní zkoušky na jednomotorové letadlo, zajímal se o historii zlatých nalezišť a Burských republik a ve vyprahlé Africe hledal místa, kde by se dala najít voda a vrtal studny farmářům. Pracoval jako šéf na elekromontážích, pro zlaté doly, elekrárny, pivovary a dokonce i na prvním Jihoafrickém atomovém reaktoru, jako jediný z tehdejšího Východního bloku. Vždy po ukončení projektu, v době volna, když čekal na další montáž, což někdy trvalo i tři měsíce, si plnil své cestovatelské sny.</p>
    <p>V devadesátých letech se vrátil do České republiky. Původně jen na několik měsíců, ale zůstal s manželkou u staré maminky, která se dožila 95 let. Do Afriky se již natrvalo nevrátil, ale stále se tam rád podívá. Po návratu do Čech, pokračoval ve své profesi. Pracoval po celé Evropě, procestoval Kanadu, Spojené státy, část Brazílie, Sibiř a Polární Ural, Mongolsko, část Číny a krátce též Filipíny.</p>
</div>
{% endblock %}
