{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block header %}
    <div class="header-image"></div>
{% endblock %}

{% block content %}
    <section class="summary">
        <h1>{{ SITENAME }}</h1>
        <p>Paměť slona je dobrodružný cestopis, který vás zábavným i napínavým způsobem zavede z obsazeného Československa v roce 1968 až na jih Afriky, kde Petr Hanek, autor knihy, prožil mnoho let. </p>
        <a href="https://www.kosmas.cz/knihy/203735/pamet-slona/">Koupit knihu  &gt;</a>
    </section>
    <section class="list">
        <ul>
            {% for article in articles %}
            <li class="article-preview">
                <h2><a href={{ article.url }}>{{ article.title }}</a></h2>
                <div class="article-preview-container">
                    <div class="roundimage">
                        <img src="{{ article.roundimage }}" alt="Ilustrační fotografie">
                    </div>
                    <div class="article-preview-perex">
                        <p>{{ article.content|truncate(300) }}</p>
                        <p><a href="{{ article.url }}">Číst dál  &gt;</a></p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}